@using Control.Endeavour.FrontEnd.Models.Models.Administration.SystemConfiguration.Response

@page "/ActionsAdministration"
@layout MainLayout;

<ActionsModal @ref="actionsModal" OnChangeData="HandleRefreshGridData"></ActionsModal>
<NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></NotificationsComponentModal>
<div class="row titulo">
    <div class="col-8">
        <h1>@(Translation["Parametrization"] + " - " + Translation["ManagementActions"])</h1>
    </div>
    <!-- Parte 2: Botón azul alineado a la derecha -->
    <div class="col-4 text-end">
        <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers=" ml-10" BtnType="button" BtnText=@Translation["Create"] BtnOnClick="ShowModalCreate" BtnIcon="fa-solid fa-plus"></ButtonComponent>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h6 class="titulo-azul"> @Translation["SearchByFilters"]:</h6>
    </div>
    <div class="col-md-3">
        <InputModalComponent InputMaxLength="100" LabelText=@(Translation["Name"]+":") Placeholder=@Translation["ActionName"]  @bind-InputValue="actionsFilterDtoRequest.Name"></InputModalComponent>
    </div>
    <div class="col-md-3">
        <label class="mb-2">@Translation["Class"]:</label>
        <TelerikDropDownList Data="@classCodeList"
                             @bind-Value="actionsFilterDtoRequest.ClassCode"
                             Id="GR_TipoDoc"
                             DefaultText=@Translation["SelectAnOption"]
                             TextField="Value"
                             ValueField="Code"
                             Filterable="true">
        </TelerikDropDownList>
    </div>
    <div class="col-md-3">
        <label class="mb-2">@Translation["FlowState"]:</label>
        <TelerikDropDownList Data="@flowStateList"
                             @bind-Value="actionsFilterDtoRequest.FlowStateCode"
                             Id="GR_TipoDoc"
                             DefaultText=@Translation["SelectAnOption"]
                             TextField="Value"
                             ValueField="Code"
                             Filterable="true">
        </TelerikDropDownList>
    </div>
    <div class="col-md-3">
        <label class="mb-2">@Translation["Origin"]:</label>
        <TelerikDropDownList Data="@originList"
                             @bind-Value="actionsFilterDtoRequest.Origin"
                             Id="GR_TipoDoc"
                             DefaultText=@Translation["SelectAnOption"]
                             TextField="Value"
                             ValueField="Code"
                             Filterable="true">
        </TelerikDropDownList>
    </div>
    <div class="col-md-12 d-flex align-items-end justify-content-end mt-3">
        <div class="text-md-end">
            <ButtonComponent BtnClassColor="btnStyle--primaryInLine" BtnType="button" BtnText=@Translation["Clear"] BtnIcon="fa-solid fa-eraser" BtnOnClick="CleanFilter"></ButtonComponent>
            <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers="ml-10" BtnType="button" BtnText=@Translation["Search"] BtnIcon="fa-solid fa-magnifying-glass" BtnOnClick="SearchByFilter"></ButtonComponent>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <TelerikGrid Data="@actionsDataList" 
                     Sortable="true">
            <GridColumns>

                <GridCommandColumn Width="60px" Title=@Translation["Edit"] HeaderClass="center-wrap" Visible="true">
                    <div class="custom-style-grid">
                        <GridCommandButton Title=@Translation["Edit"] Icon="@SvgIcon.Pencil" OnClick="@((args)=> ShowModalEdit((ActionsDtoResponse)args.Item))"></GridCommandButton>
                    </div>
                </GridCommandColumn>
                <GridCommandColumn Width="90px" Title=@Translation["Delete"] HeaderClass="center-wrap" Visible="true">
                    <div class="custom-style-grid d-flex flex-wrap justify-content-around">
                        <GridCommandButton Title=@Translation["Delete"] Icon="@SvgIcon.Trash" OnClick="@((args)=> ShowModalDelete((ActionsDtoResponse)args.Item))"></GridCommandButton>
                    </div>
                </GridCommandColumn>
                <GridColumn Field="Name"
                            Title=@Translation["Name"]
                            Width="150px"
                            Filterable="true"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap" />
                <GridColumn Field="ActiveState"
                            Title=@Translation["Status"]
                            Width="150px"
                            Filterable="true"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap">
                    <Template>
                        @{
                            ActionsDtoResponse rowData = (ActionsDtoResponse)context;
                            if (rowData != null)
                            {
                                bool activeState = (bool)rowData.ActiveState!;
                                string active = activeState ? Translation["Enabled"] : Translation["Disabled"];
                                @active
                            }
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="ClassCodeName"
                            Title=@Translation["Class"]
                            Width="150px"
                            Filterable="true"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap" />
                <GridColumn Field="FlowStateName"
                            Title=@Translation["FlowState"]
                            Width="150px"
                            Filterable="true"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap" />
                <GridColumn Field="OriginName"
                            Title=@Translation["Origin"]
                            Width="150px"
                            Filterable="true"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap" />
                <GridColumn Field="CreateUser"
                            Title=@Translation["UserRecorded"]
                            Width="200px"
                            TextAlign="ColumnTextAlign.Center"
                            Filterable="false" HeaderClass="center-wrap" />
                <GridColumn Field="CreateDate"
                            Title=@Translation["DateRecorded"]
                            Width="200px"
                            TextAlign="ColumnTextAlign.Center"
                            Filterable="false" HeaderClass="center-wrap" />
                <GridColumn Field="UpdateUser"
                            Title=@Translation["UserUpdated"]
                            Width="200px"
                            TextAlign="ColumnTextAlign.Center"
                            Filterable="false" HeaderClass="center-wrap" />
                <GridColumn Field="UpdateDate"
                            Title=@Translation["DateUpdated"]
                            Width="200px"
                            TextAlign="ColumnTextAlign.Center"
                            Filterable="false" HeaderClass="center-wrap" />
            </GridColumns>
        </TelerikGrid>
    </div>
</div> 