@using Control.Endeavour.FrontEnd.Models.Models.Administration.NoWorkDays
@page "/NoWorkDays"
@* @page "/"   *@
@layout MainLayout
<NotificationsComponentModal @ref="NotificationModal" OnModalClosed="HandleModalNotiClose" ></NotificationsComponentModal>
<NoWorkDaysModals @ref="NoWorkDaysModal" OnChangeData="HandleRefreshData"></NoWorkDaysModals>
<div class="row titulo">
    <div class="col-8">
        <h1>@(Translation["Parametrization"] + " - " + Translation["NoWorkDays"])</h1>
    </div>
    <!-- Parte 2: Botón azul alineado a la derecha -->
    <div class="col-4 text-end">
        <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers=" ml-10" BtnType="button" BtnText=@Translation["Create"]  BtnOnClick="ShowModalCreate" BtnIcon="fa-solid fa-plus"></ButtonComponent>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h6 class="titulo-azul"> @Translation["SearchByFilters"]:</h6>
    </div>
    <div class="col-md-3">
        <label class="mb-2">@Translation["Motive"]:</label>
        <TelerikDropDownList Data="@ReasonNoWorkDays"
                             @bind-Value="@NoWorkDaysFilter.Reason"
                             Id="GR_TipoDoc"
                             DefaultText=@Translation["SelectAnOption"]
                             TextField="Value"
                             ValueField="Code"
                             Filterable="true">
        </TelerikDropDownList>
    </div>
    <div class="col-md-3">
        <label class="mb-2">@Translation["StartDate"]:</label>
        <TelerikDatePicker Value="@NoWorkDaysFilter.StarDate"
                           Class="DisabledInput"
                           ValueChanged="@((DateTime? Value) => DatesFilterMethod(Value,"StartDate"))"
                           Format="dd MMMM yyyy"
                           Min="@Min" Max="@Max"
                           >
        </TelerikDatePicker>
    </div>
    <div class="col-md-3">
        <label class="mb-2">@Translation["EndDate"]:</label>
        <TelerikDatePicker Value="@NoWorkDaysFilter.EndDate"
                           Class="DisabledInput"
                           ValueChanged="@((DateTime? Value) => DatesFilterMethod(Value,"EndDate"))"
                           Format="dd MMMM yyyy"
                           Min="@Min" Max="@Max"
                           >
        </TelerikDatePicker>
    </div>
    <div class="col-md-3 d-flex align-items-end justify-content-end mt-3">
        <div class="text-md-end">
            <ButtonComponent BtnClassColor="btnStyle--primaryInLine" BtnType="button" BtnText=@Translation["Clear"] BtnIcon="fa-solid fa-eraser" BtnOnClick="CleanFilter"></ButtonComponent>
            <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers="ml-10" BtnType="button" BtnText=@Translation["Search"] BtnIcon="fa-solid fa-magnifying-glass" BtnOnClick="SearchByFilter"></ButtonComponent>
        </div>
    </div>
    
</div>
<div class="row mt-4">
    <div class="col">
        <TelerikGrid Data="@NoWorkDaysList"
                     Sortable="true">
            <GridColumns>

                <GridCommandColumn Width="60px" Title="@Translation["Edit"]" HeaderClass="center-wrap" Visible="true">
                    <div class="custom-style-grid d-flex flex-wrap justify-content-around">
                        <GridCommandButton Title="@Translation["Edit"]" Icon="@SvgIcon.Pencil" OnClick="@((args)=> ShowModalEdit((NoWorkDaysDtoResponse)args.Item))"></GridCommandButton>
                    </div>
                </GridCommandColumn>
                <GridCommandColumn Width="90px" Title="@Translation["Delete"]" HeaderClass="center-wrap" Visible="true">
                    <div class="custom-style-grid d-flex flex-wrap justify-content-around">
                        <GridCommandButton Title="@Translation["Delete"]" Icon="@SvgIcon.Trash" OnClick="@((args)=> ShowModalDelete((NoWorkDaysDtoResponse)args.Item))"></GridCommandButton>
                    </div>
                </GridCommandColumn>
                <GridColumn Field="ReasonName"
                            Title="@Translation["Motive"]"
                            Width="150px"
                            Filterable="true"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap" />
                <GridColumn Field="NoWorkDay1"
                            Title="@Translation["DateTimePicker_Date"]"
                            Width="150px"
                            Filterable="true"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap">
                    <Template>
                        @{
                            NoWorkDaysDtoResponse rowData = (NoWorkDaysDtoResponse)context;
                            @rowData.NoWorkDay1.ToString("yyyy-MM-dd")
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="ActiveState"
                            Title="@Translation["Status"]"
                            Width="150px"
                            Filterable="true"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap">
                    <Template>
                        @{
                            NoWorkDaysDtoResponse rowData = (NoWorkDaysDtoResponse)context;
                            string active = rowData.ActiveState ? Translation["Enabled"] : Translation["Disabled"];
                            @active
                        }
                    </Template>
                </GridColumn>

                <GridColumn Field="CreateUser"
                            Title=@Translation["UserRecorded"]
                            Width="200px"
                            TextAlign="ColumnTextAlign.Center"
                            Filterable="false" HeaderClass="center-wrap" />
                <GridColumn Field="CreateDate"
                            Title=@Translation["DateRecorded"]
                            Width="200px"
                            TextAlign="ColumnTextAlign.Center"
                            Filterable="false" HeaderClass="center-wrap" />
                <GridColumn Field="UpdateUser"
                            Title=@Translation["UserUpdated"]
                            Width="200px"
                            TextAlign="ColumnTextAlign.Center"
                            Filterable="false" HeaderClass="center-wrap" />
                <GridColumn Field="UpdateDate"
                            Title=@Translation["DateUpdated"]
                            Width="200px"
                            TextAlign="ColumnTextAlign.Center"
                            Filterable="false" HeaderClass="center-wrap" />
            </GridColumns>
        </TelerikGrid>

    </div>
    <NewPaginationComponent @ref="paginationComponent" T="NoWorkDaysDtoResponse" M="NoWorkDaysFilterDtoRequest" Filter="@NoWorkDaysFilter" PaginationInfo="@paginationInfo" Uri="@UriNoworkDay" OnPaginationRefresh="HandlePaginationGrid"></NewPaginationComponent>
</div> 