@using Control.Endeavour.FrontEnd.Models.Models.Administration.AdministracionTRD.Request
@using Control.Endeavour.FrontEnd.Models.Models.Administration.AdministracionTRD.Response
@using Control.Endeavour.FrontEnd.Models.Models.Administration.VDocumentaryTypology.Request
@using Control.Endeavour.FrontEnd.Models.Models.Administration.VDocumentaryTypology.Response;

<GenericSearchModal OnStatusUserChanged="HandleGenericSearchStatusChanged"
                    OnStatusMultipleUsersChanged="HandleGenericMultipleSearchStatusChanged"
                    @ref="genericSearchModal"
                    ConfigurationInUse="1"
                    multipleSelection=multipleSelectionManager
                    OnModalClosed="HandleClosed"
                    showCopiesColumn=false
                    Title=@(Translation["Administration"] + " - " + Translation["DocumentaryTypologies"] + " - " + Translation["UserSearch"])></GenericSearchModal>
<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent Title="@Title" IsVisible="modalStatus" Width="80%" OnModalClosed="HandleModalClosed">
            <ChildContent>
                <div class="selectorBlock pb-2 px-4">
                    <div class="row">
                        <!-- dropdowns encargados de filtra la busqueda -->
                        <div class="col-lg-9 mt-4">
                            <label class="selectorBlock--labelDropDown">@Translation["DocumentaryVersion"]:<span class="red">*</span></label>
                            <TelerikDropDownList Data="@documentalVersionsList"
                                                 ValueField="DocumentalVersionId"
                                                 Value="@idDocVersion"
                                                 TextField="Code"
                                                 ValueChanged="@( (int newValue) => GetAdministrativeUnits(newValue) )"
                                                 OnChange="EnableSaveButton"
                                                 Filterable="true"
                                                 DefaultText=@Translation["SelectAnOption"]>
                            </TelerikDropDownList>
                        </div>
                        <div class="col-lg-3 mt-4">

                            <div class="from-group mt-4 d-flex align-items-end justify-content-end">


                                <div class="px-2">
                                    <TelerikSwitch @bind-Value="@activeState" />
                                </div>
                                <div class="px-2">
                                    @(activeState ? Translation["Enabled"] : Translation["Disabled"])
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-6 mt-4">
                            <label for="input2" class="selectorBlock--labelDropDown">@Translation["AdministrativeUnit"]:<span class="red">*</span></label>
                            <TelerikDropDownList Data="@adminUnitList"
                                                 ValueField="AdministrativeUnitId"
                                                 Value="@idAdminUnit"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetProducOffice(newValue) )"
                                                 OnChange="EnableSaveButton"
                                                 Enabled="isEnableAdminUnit"
                                                 Filterable="true"
                                                 DefaultText=@Translation["SelectAnOption"]>
                            </TelerikDropDownList>
                        </div>

                        <div class="col-lg-6 mt-4">
                            <label class="selectorBlock--labelDropDown">@Translation["ProductionOffice"]:<span class="red">*</span></label>
                            <TelerikDropDownList Data="@proOfficesList"
                                                 ValueField="ProductionOfficeId"
                                                 Value="@idProOffice"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetSeries(newValue) )"
                                                 OnChange="EnableSaveButton"
                                                 Enabled="isEnableProOffice"
                                                 Filterable="true"
                                                 DefaultText=@Translation["SelectAnOption"]>
                            </TelerikDropDownList>
                        </div>
                        <div class="col-lg-6 mt-4">
                            <label class="selectorBlock--labelDropDown">@Translation["DocumentarySerie"]:<span class="red">*</span></label>
                            <TelerikDropDownList Data="@seriesList"
                                                 ValueField="SeriesId"
                                                 Value="@idSerie"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetSubSeries(newValue) )"
                                                 OnChange="EnableSaveButton"
                                                 Enabled="isEnableSerie"
                                                 Filterable="true"
                                                 DefaultText=@Translation["SelectAnOption"]>
                            </TelerikDropDownList>
                        </div>


                        <!-- dropdowns encargados de filtra la busqueda y el boton -->
                        <div class="col-lg-6  mt-4">
                            <label class="selectorBlock--labelDropDown">
                                @Translation["DocumentarySubSerie"]:  @{
                                    if (SubSerieSpan)
                                    {
                                        <span class="red"> *</span>
                                    }
                                }
                            </label>
                            <TelerikDropDownList Data="@subSeriesList"
                                                 ValueField="SubSeriesId"
                                                 @bind-Value="@idSubSerie"
                                                 TextField="Name"
                                                 OnChange="EnableSaveButton"
                                                 Enabled="isEnableSubSerie"
                                                 Filterable="true"
                                                 DefaultText=@Translation["SelectAnOption"]>
                            </TelerikDropDownList>
                        </div>
                        <div class="col-lg-6  mt-4">
                            <label class="selectorBlock--labelDropDown">@Translation["DocumentaryTypology"]:<span class="red">*</span></label>
                            <TelerikDropDownList Data="@docTypologiesBagList"
                                                 ValueField="DocumentaryTypologyBagId"
                                                 Value="@idDocTypologiesBag"
                                                 TextField="TypologyName"
                                                 ValueChanged="@((int newValue) => idDocTypologiesBag = newValue)"
                                                 OnChange="EnableSaveButton"
                                                 Enabled="isEnableDocTypology"
                                                 Filterable="true"
                                                 DefaultText=@Translation["SelectAnOption"]>
                            </TelerikDropDownList>
                        </div>
                        <div class="col-lg-6 mt-4">
                            <label class="selectorBlock--labelDropDown">@Translation["SecurityLevel"]:<span class="red">*</span></label>
                            <TelerikDropDownList Data="@securityLevelsList"
                                                 DefaultText="@Translation["SelectAnOption"]"
                                                 TextField="Value"
                                                 ValueField="Code"
                                                 @bind-Value="securityLevel"
                                                 OnChange="EnableSaveButton"
                                                 Filterable="true"
                                                 FilterOperator="StringFilterOperator.Contains">
                            </TelerikDropDownList>
                        </div>


                        @if (!string.IsNullOrEmpty(securityLevel) && !securityLevel.Contains("PUBL"))
                        {
                            <div class="col-lg-4 mt-4">
                                <div class="row mb-2">
                                    <label class="text-filter" for="identification">@Translation["SecurityLevelBy"]:</label>
                                </div>

                                <div class="row">
                                    <div class="k-form k-form-md k-form-vertical">
                                        <div class="k-form-field">
                                            <div class="k-form-field-wrap">
                                                <TelerikRadioGroup Data="@optionsSecurityLevel"
                                                                   Value="@selectedOptionSecurityLevel"
                                                                   Layout="@RadioGroupLayout.Horizontal"
                                                                   OnChange="EnableSaveButton"
                                                                   ValueChanged="@((string selectedValue) => OnValueChangedRecordClosed(selectedValue))">
                                                </TelerikRadioGroup>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>

                    @if (!string.IsNullOrEmpty(securityLevel) && !securityLevel.Contains("PUBL"))
                    {

                        if (currentOptionSecurityLevel)
                        {
                            <div class="row p-2">
                                <!-- Parte Izquierda: Input y Label -->
                                <div class="col-lg-4 mt-1">
                                    <label for="input2" class="mb-2">@Translation["DocumentaryVersions"]:<span class="red">*</span></label>
                                    <TelerikDropDownList Data="@documentalVersionsList"
                                                         Id="DocTypeJ"
                                                         DefaultText="@Translation["SelectAType"]"
                                                         TextField="Code"
                                                         ValueField="DocumentalVersionId"
                                                         Value="@IdDocumentalSL"
                                                         ValueChanged="@( (int newValue) => GetAdministrativeUnitsSL(newValue) )"
                                                         OnChange="EnableSaveButton"
                                                         Filterable="true"
                                                         FilterOperator="StringFilterOperator.Contains">
                                    </TelerikDropDownList>
                                </div>

                                <div class="col-lg-4 mt-1">
                                    <label for="input2" class="mb-2">@Translation["AdministrativeUnits"]:<span class="red">*</span></label>
                                    <TelerikDropDownList Data="@administrativeUnitsListSL"
                                                         DefaultText="@Translation["SelectAType"]"
                                                         TextField="Name"
                                                         ValueField="AdministrativeUnitId"
                                                         Value="@idAdUnitSL"
                                                         ValueChanged="@( (int newValue) => GetProductionOfficesSL(newValue) )"
                                                         OnChange="EnableSaveButton"
                                                         Filterable="true"
                                                         Enabled="@administrativeUnitEnableSL"
                                                         FilterOperator="StringFilterOperator.Contains">
                                    </TelerikDropDownList>
                                </div>

                                <div class="col-lg-4 mt-1">
                                    <label for="input2" class="mb-2">@Translation["ProductionOffices"]:<span class="red">*</span></label>
                                    <TelerikDropDownList Data="@productionOfficesListSL"
                                                         DefaultText="@Translation["SelectAType"]"
                                                         TextField="Name"
                                                         ValueField="ProductionOfficeId"
                                                         @bind-Value="IdproOfficeSL"
                                                         OnChange="EnableSaveButton"
                                                         Filterable="true"
                                                         Enabled="@productionOfficeEnableSL"
                                                         FilterOperator="StringFilterOperator.Contains">
                                    </TelerikDropDownList>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="row mt-4">
                                <div class="col">
                                    <TelerikTabStrip>

                                        <TabStripTab Title=@Translation["ChosenUsers"]>
                                            <div class="row p-2">
                                                <div class="mb-2">
                                                    <ButtonComponent BtnClassColor="btnStyle--primary" BtnType="button" BtnText=@Translation["AddUser"] BtnIcon="fa-solid fa-user-plus" BtnOnClick="@(()=>OpenLeaderManager(true,true))"></ButtonComponent>
                                                    <ButtonComponent BtnClassColor="btnStyle--primary" BtnType="button" BtnText=@Translation["DeleteSelectedUsers"] BtnIcon="fa-solid fa-trash" BtnOnClick="HandleRecordToDelete" BtnDisabled="!(securityLevelsSeriesNewList.Any() && selectedUsers.Any())"></ButtonComponent>
                                                </div>
                                            </div>

                                            <div class="row mt-4 mb-2">
                                                <div class="col">
                                                    <TelerikGrid Data="@securityLevelsSeriesNewList" PageSize="50"
                                                                 Sortable="true"
                                                                 FilterMode="GridFilterMode.FilterMenu"
                                                                 Resizable="true"
                                                                 Reorderable="true"
                                                                 EditMode="GridEditMode.Popup"
                                                                 ScrollMode="@GridScrollMode.Scrollable"
                                                                 Height="460px"
                                                                 RowHeight="60"
                                                                 SelectionMode="GridSelectionMode.None">
                                                        <GridColumns>
                                                            <GridColumn Width="14%" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap">
                                                                <HeaderTemplate>
                                                                    @{
                                                                        <TelerikCheckBox class="mr-1" @bind-Value="@selectAllManager" OnChange="ChangeAllStateManager" Enabled="securityLevelsSeriesNewList.Any()"></TelerikCheckBox>
                                                                        <label> @Translation["Grid_Select"] </label>
                                                                    }
                                                                </HeaderTemplate>
                                                                <Template>
                                                                    @{
                                                                        var userSelected = (SecurityLevelDtoResponse)context;
                                                                        <TelerikCheckBox Value="@userSelected.Selected" OnChange="@(() => ChangeStateManager(userSelected))"></TelerikCheckBox>
                                                                    }
                                                                </Template>
                                                            </GridColumn>
                                                            <GridColumn Field=@nameof(SecurityLevelDtoResponse.FullName) Title=@Translation["Name"] Width="100px" Filterable="false" TextAlign="ColumnTextAlign.Left" />
                                                            <GridColumn Field=@nameof(SecurityLevelDtoResponse.ProductionOfficeName) Title=@Translation["ProductionOffice"] Width="100px" Filterable="false" />
                                                        </GridColumns>
                                                        <NoDataTemplate>
                                                            <img src="../img/noDataFound.png" width="8%" height="8%" />
                                                            <p> @Translation["NoGridInfo"]</p>
                                                        </NoDataTemplate>
                                                    </TelerikGrid>
                                                </div>
                                            </div>
                                        </TabStripTab>

                                        @if (isEditForm)
                                        {

                                            <TabStripTab Title=@Translation["SavedUsers"]>

                                                <div class="row mt-4 mb-2">
                                                    <div class="col">
                                                        <TelerikGrid Data="@securityLevelsSeriesList" PageSize="10"
                                                                     Sortable="true"
                                                                     FilterMode="GridFilterMode.FilterMenu"
                                                                     Resizable="true"
                                                                     Reorderable="true"
                                                                     EditMode="GridEditMode.Popup"
                                                                     ScrollMode="@GridScrollMode.Scrollable"
                                                                     Height="460px"
                                                                     RowHeight="60"
                                                                     SelectionMode="GridSelectionMode.None">
                                                            <GridColumns>
                                                                <GridColumn Field=@nameof(SecurityLevelDtoResponse.FullName) Title=@Translation["Name"] Width="100px" Filterable="false" TextAlign="ColumnTextAlign.Left" />
                                                                <GridColumn Field=@nameof(SecurityLevelDtoResponse.ProductionOfficeName) Title=@Translation["ProductionOffice"] Width="100px" Filterable="false" />
                                                            </GridColumns>
                                                            <NoDataTemplate>
                                                                <img src="../img/noDataFound.png" width="8%" height="8%" />
                                                                <p> @Translation["NoGridInfo"]</p>
                                                            </NoDataTemplate>
                                                        </TelerikGrid>
                                                    </div>
                                                </div>
                                                @if (dataChargue)
                                                {
                                                    <div class="row mt-4">
                                                        <NewPaginationComponent @ref="paginationComponent" T="SecurityLevelDtoResponse" M="SecurityLevelFilterDtoRequest" Uri="@uriFilterSecurityLevels" Filter="@securityLevelFilterDtoRequest" PaginationInfo="@paginationInfo" OnPaginationRefresh="HandlePaginationGrid"></NewPaginationComponent>
                                                    </div>
                                                }
                                            </TabStripTab>
                                        }

                                    </TelerikTabStrip>
                                </div>
                            </div>

                        }

                    }

                </div>
                <div class="row">
                    <div class="from-group from-group--margin-top justify-content-center">

                        <ButtonComponent BtnClassColor="btnStyle--primaryInLine" BtnType="button" BtnText=@Translation["Clear"] BtnIcon="fa-solid fa-eraser" BtnOnClick="ResetFormAsync"></ButtonComponent>
                        <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers="ml-10" BtnType="button" BtnText=@Translation["Save"] BtnIcon="fa-solid fa-floppy-disk" BtnOnClick="HandleValidSubmit" BtnDisabled="saveIsDisable"></ButtonComponent>
                    </div>
                </div>

            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
    <NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiClose" Height="425px"></NotificationsComponentModal>
</div>