@using Control.Endeavour.FrontEnd.Models.Models.Administration.ThirdParty.Request;
@using Control.Endeavour.FrontEnd.Models.Models.Administration.ThirdUser.Response;


<ThirdPartyModal @ref="modalThirdParty" Id="modal-ThirdParty" OnStatusChanged="HandleStatusChanged" OnDataSaved="HandleNewData"></ThirdPartyModal>
<AddressModal @ref="modalAddress" Id="modal-Address" OnStatusChangedMultipleSelection="HandleUserSelectedChanged"></AddressModal>
<div class="my-modal">
    <div class="row mt-2">
        <span>
            <label class="ms-3"><TelerikSwitch Value="@searchByPN" Class="me-2" ValueChanged="( (bool newValue) => OnChangeSwitchPJ() )" />@Translation["NaturalPerson"]</label>
            <label class="ms-3"><TelerikSwitch Value="@searchByPJ" ValueChanged="( (bool newValue) => OnChangeSwitchPN() )" />@Translation["LegalPerson"]</label>
        </span>
    </div>

    <div class="row mt-1 p-3">
        <div class="col-lg-3">
            <InputModalComponent @ref="inputNames" @bind-InputValue="names" IsRequired="false" InputMaxLength="55" LabelText=@(searchByPJ ? Translation["BusinessName"] : Translation["NameSurname"]) Placeholder="" />
        </div>
        <div class="col-lg-3">
            <InputModalComponent @ref="inputIdentificcation" @bind-InputValue="identificationNumber" InputMaxLength="20" IsRequired="false" LabelText=@(searchByPJ ? Translation["TINidentificationInitials"]: Translation["IdentificationNumber"]) Placeholder="" />
        </div>
        <div class="col-lg-3">
            <InputModalComponent @ref="inputEmail" @bind-InputValue="email" IsRequired="false" InputMaxLength="55" LabelText="@Translation["Email"]" Placeholder="" />
        </div>
        <div class="col-lg-3">
            <div class="from-group from-group--margin-top justify-content-center">
                <ButtonComponent BtnClassColor="btnStyle--primaryInLine" BtnType="button" BtnText=@Translation["Clear"] BtnIcon="fa-solid fa-eraser" BtnOnClick="OnClickButtonClear"></ButtonComponent>
                <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers="ml-10" BtnType="button" BtnText=@Translation["Search"] BtnIcon="fa-solid fa-magnifying-glass" BtnOnClick="OnClickButton"></ButtonComponent>
            </div>
        </div>
    </div>

@*     <div class="row row py-3 pe-3 text-end">
        <label>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#1b6ec2" class="bi bi-plus-circle-fill pointer" viewBox="0 0 16 16" @onclick="OnClickPlus">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
            </svg>
            Nuevo usuario
        </label>
    </div> *@

    <div class="row">
        <TelerikGrid Data="@thirdPartyList" PageSize="@(meta.PageSize)"
                     Resizable="true"
                     ScrollMode="@GridScrollMode.Scrollable"
                     Height="400px"
                     RowHeight="60">
            <GridColumns>
                <GridColumn Width="150px" TextAlign="ColumnTextAlign.Center">
                    <HeaderTemplate>
                        <label> @Translation["Grid_Select"]  </label>
                    </HeaderTemplate>
                    <Template>
                        @{
                            var thirdPartySelected = (ThirdPartyDtoResponse)context;
                            <TelerikCheckBox Enabled=thirdPartySelected.EnableSelection @bind-Value="@thirdPartySelected!.Selected" OnChange="@(() => changeStateThirdParty(thirdPartySelected))">
                            </TelerikCheckBox>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Visible=@(multipleSelection && showCopiesColumn) Width="150px" TextAlign="ColumnTextAlign.Center">
                    <HeaderTemplate>
                        <label> @Translation["Copies"]   </label>
                    </HeaderTemplate>
                    <Template>
                        @{
                            var thirdPartySelected = (ThirdPartyDtoResponse)context;
                            <TelerikCheckBox Enabled=thirdPartySelected.EnableCopy @bind-Value="@thirdPartySelected!.Copy" OnChange="@(() => ChangeStateThirdPartyCopies(thirdPartySelected))">
                            </TelerikCheckBox>
                        }
                    </Template>
                </GridColumn>

                <GridCommandColumn Width="80px" Title=@Translation["Edit"]  HeaderClass="center-wrap" Visible="true">
                    <GridCommandButton Icon="@SvgIcon.Pencil" Title=@Translation["Edit"] OnClick="@((args)=> ShowModalEditAsync((ThirdPartyDtoResponse) args.Item ))"/>
                </GridCommandColumn>

                <GridColumn Field="IdentificationNumber"
                            Title="@Translation["Identification"]"
                            Width="150px"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap" />
                <GridColumn Field="Names"
                            Title=@(searchByPJ ? Translation["BusinessName"] : $"{Translation["Name"]}/{Translation["LastName"]}" )
                            Width="150px"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap" />
                <GridColumn Width="500px" Visible="searchByPJ && entrust" TextAlign="ColumnTextAlign.Center">
                    <HeaderTemplate>
                        <label> Encargados </label>
                    </HeaderTemplate>
                    <Template>
                        @{
                            var thirdPartySelected = (ThirdPartyDtoResponse)context;
                            if (thirdPartySelected!.ThirdUsers!.Any())
                            {
                                <TelerikGrid Data="@thirdPartySelected.ThirdUsers"
                                             Sortable="true"
                                             Resizable="false"
                                             Reorderable="false">
                                    <GridColumns>
                                        <GridColumn Width="100px" Visible=@(!thirdPartySelected.Selected) Context="ChildContext" TextAlign="ColumnTextAlign.Center">
                                            <HeaderTemplate>
                                                <label> @Translation["Grid_Select"] </label>
                                            </HeaderTemplate>
                                            <Template>
                                                @{
                                                    var thirdUser = (ThirdUserDtoResponse)ChildContext;
                                                    <TelerikCheckBox @bind-Value="@thirdUser!.Selected" OnChange="@(() => changeStateThirdUser(thirdUser))">
                                                    </TelerikCheckBox>
                                                }
                                            </Template>
                                        </GridColumn>
                                        <GridColumn Width="100px" Visible=@(multipleSelection && showCopiesColumn && !thirdPartySelected.Copy) Context="ChildContext" TextAlign="ColumnTextAlign.Center">
                                            <HeaderTemplate>
                                                <label>  @Translation["Copies"]   </label>
                                            </HeaderTemplate>
                                            <Template>
                                                @{
                                                    var thirdUser = (ThirdUserDtoResponse)ChildContext;
                                                    <TelerikCheckBox @bind-Value="@thirdUser!.Copy" OnChange="@(() => ChangeStateThirdUserCopies(thirdUser))">
                                                    </TelerikCheckBox>
                                                }
                                            </Template>

                                        </GridColumn>
                                        <GridColumn Visible="searchByPJ"
                                                    Field="Names"
                                                    Title=@Translation["Name"]
                                                    Width="150px"
                                                    Filterable="true"
                                                    TextAlign="ColumnTextAlign.Center"
                                                    HeaderClass="center-wrap" />
                                    </GridColumns>
                                </TelerikGrid>
                            }
                        }
                    </Template>
                </GridColumn>
                <GridColumn Width="300px" TextAlign="ColumnTextAlign.Center">
                    <HeaderTemplate>
                        <label>@Translation["Email"]</label>
                    </HeaderTemplate>
                    <Template>
                        @{
                            var thirdPartySelected = context as ThirdPartyDtoResponse;
                            <div class="col">
                                <div class="row">
                                    <label> @(thirdPartySelected?.Email1 ?? thirdPartySelected?.Email2)</label>
                                </div>
                            </div>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Visible="!searchByPJ"
                            Field="Charge"
                            Title="@Translation["Position"]"
                            Width="150px"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap" />
                <GridColumn Field="Country"
                            Title="@Translation["Country"]"
                            Width="150px"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap" />
                <GridColumn Field="StateC"
                            Title="@Translation["State"]"
                            Width="150px"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap" />
                <GridColumn Field="City"
                            Title="@Translation["City"]"
                            Width="150px"
                            TextAlign="ColumnTextAlign.Center"
                            HeaderClass="center-wrap" />
            </GridColumns>


            <NoDataTemplate>
                <img src="../img/noDataFound.png" width="8%" height="8%" />
                <p> @Translation["NoGridInfo"]</p>
            </NoDataTemplate>
        </TelerikGrid>

    </div>
    <!-- Parte 4: Botones en la izquierda, centro y derecha -->
    @if (dataChargue)
    {
        //<PaginationComponent @ref=paginationComponet ObjectMeta="@meta" T="ThirdPartyDtoResponse" M="ThirdPartyFilterDtoRequest" Filter="@thirdPartyFilter" OnPaginationRefresh="HandlePaginationGrid"></PaginationComponent>
        <NewPaginationComponent @ref="paginationComponet" Filter="@thirdPartyFilter" T="ThirdPartyDtoResponse" M="ThirdPartyFilterDtoRequest" Uri="@UriFilterAdministration" PaginationInfo="@paginationInfo" OnPaginationRefresh="HandlePaginationGrid"></NewPaginationComponent>

    }
</div>
<NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></NotificationsComponentModal>