<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent IsVisible="modalStatus" Title="@Title" OnModalClosed="HandleModalClosed" width="40%">
            <ChildContent>
                <NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></NotificationsComponentModal>
                <div class="row">
                    <div class="col-lg-12">

                        <InputModalComponent @ref="OldPasswordInput" @bind-InputValue="OldPassword" MethodValueChanged="EnableSaveButton" IsRequired=" true" InputMaxLength="20" FieldType="InputModalTypeEnum.NotEmpty" InputType="password" LabelText="@Translation["CurrentPassword"]" Placeholder="" />




                    </div>




                    <div class="col-lg-12">

                        <InputModalComponent @ref="NewPasswordInput" @bind-InputValue="NewPassword" MethodValueChanged="EnableSaveButton" IsRequired=" true" InputMaxLength="20" FieldType="InputModalTypeEnum.NotEmpty" InputType="password" LabelText="@Translation["NewPassword"]" Placeholder="" />

                        <div class="col-lg-12">
                            <label class="@OneCapitalLetter d-block">@Translation["OneCapitalLetter"]</label>
                            <label class="@OneNumber d-block">@Translation["OneNumber"]</label>
                            <label class="@OneSpecialCharacter d-block">@Translation["OneSpecialCharacter"] /-*.</label>
                            <label class="@MinimumCharacters d-block">@Translation["MinimumCharacters"]</label>




                        </div>
                  
                

                    </div>



                    <div class="col-lg-12">

                        <InputModalComponent @ref="NewPasswordCheckInput" @bind-InputValue="NewPasswordCheck" MethodValueChanged="EnableSaveButton" IsRequired=" true" InputMaxLength="20" FieldType="InputModalTypeEnum.NotEmpty" InputType="password" LabelText="@Translation["ConfirmNewPassword"]" Placeholder="" />



                        <div class="col-lg-12">
                          
                            <label class="@MatchEquals d-block">@Translation["PasswordsMatch"]</label>



                        </div>


                    </div>


                </div>
                <div class="row">
                    <div class="from-group from-group--margin-top justify-content-center">

                        <ButtonComponent BtnClassColor="btnStyle--primaryInLine" BtnType="button" BtnText=@Translation["Clear"] BtnIcon="fa-solid fa-eraser" BtnOnClick="ResetForm"></ButtonComponent>
                        <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers="ml-10" BtnType="button" BtnIcon="fa-solid fa-floppy-disk" BtnOnClick="HandleValidSubmit" BtnDisabled="saveIsDisable"></ButtonComponent>
                    </div>
                </div>


            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>