
<div class="card shadow bg-white rounded">
    <div class="card-body">
        <div class="row d-flex align-items-center ">
            <div class="col-md-3 text-center">

                <img src="..\img\userCardImage.svg" />
            </div>
            <div class="col-md-9 d-flex flex-column align-items-start">
                <div class="row">
                    <label><b>@Translation["TIN"]:</b> @IdentificationNumber</label>
                </div>
                <div class="row">
                    <label> <b>@Translation["Name"]:</b> @Names</label>
                </div>
@*                 <div class="row">
                    <label> <b>@Translation["CompanyName"]:</b> @CompanyName</label>
                </div> *@
                <div class="row">
                    <label> <b>@Translation["Email"]:</b> @Email</label>
                </div>
@*                 <div class="row">
                    <label> <b>@Translation["Position"]:</b> @Positionname</label>
                </div> *@
            </div>
        </div>

    </div>
</div>
