@using Control.Endeavour.FrontEnd.Models.Models.Administration.Profile.Request
@using Control.Security.Core.DTOs.Response
<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent Title=@(Translation["Administration"] + " - " + Translation["Profiles"]) IsVisible="modalStatus" OnModalClosed="HandleModalClosed" Width="70%">
            <ChildContent>
                <NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></NotificationsComponentModal>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">

                                <div class="col-lg-4">

                                    <InputModalComponent @ref="profileInput" @bind-InputValue="profile" IsRequired=" true" MethodValueChanged=EnableSaveButton InputMaxLength="50" FieldType="InputModalTypeEnum.NotEmpty" LabelText=@Translation["Profile"] Placeholder="" />

                                </div>
                                <div class="col-lg-4">

                                    <InputModalComponent @ref="profileCodeInput" @bind-InputValue="profileCode" MethodValueChanged=EnableSaveButton InputMaxLength="5" IsRequired=" true" FieldType="InputModalTypeEnum.NotEmpty" LabelText=@Translation["Code"] Placeholder=""  />

                                </div>
                                <div class="col-lg-4 mt-3">

                                    <div class="from-group mt-3 d-flex align-items-center justify-content-end">


                                        <div class="px-2">
                                            <TelerikSwitch @bind-Value="@activeState" />
                                        </div>
                                        <div class="px-2">
                                            @(activeState ? Translation["Enabled"] : Translation["Disabled"])
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-12 mt-3">
                                    <div class="mb-2">
                                        <label class="mb-2">@(Translation["Description"] + ":") <span style="color:gray">@string.Format(Translation["CharactersOutOf"], CharacterCounter, "500")</span> </label>
                                        <textarea @bind="@description" class="w-100 custom-textarea" placeholder="" maxlength="500" @oninput="CountCharacters"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <TelerikGrid Data="functionalityList" PageSize="10"
                                         Sortable="true"
                                         FilterMode="GridFilterMode.FilterMenu"
                                         ScrollMode="@GridScrollMode.Virtual"
                                         Height="480px" RowHeight="60" 
                                         Resizable="true"
                                         Reorderable="false"
                                         EditMode="GridEditMode.Popup"
                                         SelectionMode="GridSelectionMode.None"
                                         Class="">
                                <GridColumns>
                                    <GridColumn Field=@nameof(FunctionalityToJson.Name) HeaderClass="center-wrap" Title=@Translation["Functionality"] Width="100px" Filterable="true">

                            @*             <Template>
                                            @{
                                                var data = (FunctionalityToJson)context;
                                                @Translation[data.Name.Trim()];
                                            }
                                        </Template>
                                     
 *@
                                    </GridColumn> 
                                    <GridColumn Width="50px">
                                        <HeaderTemplate>
                                            <TelerikCheckBox Value="@SelectAllCreate"
                                                             Enabled="true"
                                                             TabIndex="-1"
                                                             ValueChanged="@((bool Value) => selectAllItems(Value,"create"))" />
                                            <span>&nbsp;</span>
                                            <label>@Translation["Create"]</label>
                                        </HeaderTemplate>
                                        <Template>
                                            @{
                                                var data = (FunctionalityToJson)context;
                                                <div class="d-flex justify-content-around command-button-container">
                                                    <TelerikCheckBox @bind-Value="@data.Create" Enabled="@data.Jsonability.CreateAbility" />
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Width="50px">
                                        <HeaderTemplate>
                                            <TelerikCheckBox Value="@SelectAllRead"
                                                             Enabled="true"
                                                             TabIndex="-1"
                                                             ValueChanged="@((bool Value) => selectAllItems(Value,"read"))" />
                                            <span>&nbsp;</span>
                                            <label>@Translation["Consult"]</label>
                                        </HeaderTemplate>
                                        <Template>
                                            @{
                                                var data = (FunctionalityToJson)context;
                                                <div class="d-flex justify-content-around command-button-container">
                                                    <TelerikCheckBox @bind-Value="@data.Read" Enabled="@data.Jsonability.ReadAbility" />
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Width="70px">
                                        <HeaderTemplate>
                                            <TelerikCheckBox Value="@SelectAllUpdate"
                                                             Enabled="true"
                                                             TabIndex="-1"
                                                             ValueChanged="@((bool Value) => selectAllItems(Value,"update"))" />
                                            <span>&nbsp;</span>
                                            <label>@Translation["Modify"]</label>
                                        </HeaderTemplate>
                                        <Template>
                                            @{
                                                var data = (FunctionalityToJson)context;
                                                <div class="d-flex justify-content-around command-button-container">
                                                    <TelerikCheckBox @bind-Value="@data.Update" Enabled="@data.Jsonability.UpdateAbility" />
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Width="60px">
                                        <HeaderTemplate>
                                            <TelerikCheckBox Value="@SelectAllDelete"
                                                             Enabled="true"
                                                             TabIndex="-1"
                                                             ValueChanged="@((bool Value) => selectAllItems(Value,"delete"))" />
                                            <label>@Translation["Delete"]</label>
                                        </HeaderTemplate>
                                        <Template>
                                            @{
                                                var data = (FunctionalityToJson)context;
                                                <div class="d-flex justify-content-around command-button-container">
                                                    <TelerikCheckBox @bind-Value="@data.Delete" Enabled="@data.Jsonability.DeleteAbility" />
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Width="50px">
                                        <HeaderTemplate>
                                            <TelerikCheckBox Value="@SelectAllPrint"
                                                             Enabled="true"
                                                             TabIndex="-1"
                                                             ValueChanged="@((bool Value) => selectAllItems(Value,"print"))" />
                                            <label>@Translation["Download"]</label>
                                        </HeaderTemplate>
                                        <Template>
                                            @{
                                                var data = (FunctionalityToJson)context;
                                                <div class="d-flex justify-content-around command-button-container">
                                                    <TelerikCheckBox @bind-Value="@data.Print" Enabled="@data.Jsonability.PrintAbility" />
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Width="50px">
                                        <HeaderTemplate>
                                            <TelerikCheckBox Value="@SelectAllAppend"
                                                             Enabled="true"
                                                             TabIndex="-1"
                                                             ValueChanged="@((bool Value) => selectAllItems(Value,"append"))" />
                                            <label>@Translation["Attach"]</label>
                                        </HeaderTemplate>
                                        <Template>
                                            @{
                                                var data = (FunctionalityToJson)context;
                                                <div class="d-flex justify-content-around command-button-container">
                                                    <TelerikCheckBox @bind-Value="@data.Append" Enabled="@data.Jsonability.AppendAbility" />
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                </GridColumns>
                                <NoDataTemplate>
                                    <img src="../img/noDataFound.png" width="8%" height="8%" />
                                    <p> @Translation["NoGridInfo"]</p>
                                </NoDataTemplate>
                            </TelerikGrid>
                        </div>
                    </div>
                    <div class="row">
                        <div class="from-group from-group--margin-top justify-content-center">

                            <ButtonComponent BtnClassColor="btnStyle--primaryInLine" BtnType="button" BtnText=@Translation["Clear"] BtnIcon="fa-solid fa-eraser" BtnOnClick="ResetFormAsync"></ButtonComponent>
                            <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers="ml-10" BtnType="button" BtnIcon="fa-solid fa-floppy-disk" BtnOnClick="HandleValidSubmit" BtnDisabled="@saveIsDisable"></ButtonComponent>
                        </div>
                    </div>
                </div>

            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>