
<PageTitle>ChangePassword</PageTitle>

<EditForm Model="@formModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <NotificationsComponentModal @ref="NotificationModal"></NotificationsComponentModal>

    <div class="row">
        <div class="form-group mb-5 text-center col-12">
            <LabelComponent KeyName=@Translation["VerificationCode"] For="name-field" FontSize="24px" IsBold="true" IsCentered="true" />
        </div>
    </div>
    <div class="col-12 form-group mb-5 text-center ">
        <CodeInputComponent @ref="codeInputComponent"></CodeInputComponent>

        <TimerComponent TimeDuration="@(TimeSpan.FromSeconds(80))" ResendButtonText=@Translation["ResendCode"] ReSenderCode="HandleOperationExcuted" />
    </div>
    <div class="row mb-4">
        <div class="col-12 form-group mb-4">
            <LabelComponent KeyName=@Translation["NewPassword"] For="password-field" AdditionalClasses="mb-2"/>
            <InputComponent @ref="passwordInput" InputType=InputTypeEnum.UpdatePassword Placeholder=@Translation["EnterNewPassword"] Length="20" ShowErrors="true" OnChange="validatePassword" />
        </div>
        <div class="col-12 form-group mb-4">
            <LabelComponent KeyName=@Translation["ConfirmNewPassword"] For="password-field" AdditionalClasses="mb-2" />
            <InputComponent @ref="passwordConfirmationInput"  InputType=InputTypeEnum.Password Placeholder=@Translation["ReEnterPassword"] ErrorMessage=@Translation["PasswordMustMatch"] Length="20" ShowErrors="@(formSubmPassConfirmation)" OnChange="validatePassword" />
        </div>
    </div>
    <div class="row button-container mb-4">
        <div class="col-12 text-center mt-2">
            <button class="btn btn-primary btn-lg w-50" type="submit" disabled="@(formSubmitted)">@Translation["Send"]</button>
        </div>
    </div>
    <div class="col-12 text-center mt-4 mb-4">
        <a class="btn rounded-pill text-white border border-white position-relative" @onclick="CambiarComponente" style="background-color: transparent;">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</EditForm>